function export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias dev_start "docker-compose up -d \$@"

export_alias dev_stop "docker-compose stop \$@"

export_alias dev_down "docker-compose down \$@"

export_alias shell "docker exec -it django_session_test /bin/bash \$@"